@mixin popovers(){
  // POPOVERS
  // --------

  .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindexPopover;
    display: none;
    width: 236px;
    padding: 1px;
    text-align: left; // Reset given new insertion method
    background-color: $popoverBackground;
    @include background-clip(padding-box);
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    @include border-radius(6px);
    @include box-shadow(0 5px 10px rgba(0,0,0,.2));
    // Overrides for proper insertion
    white-space: normal;

    // Offset the popover to account for the popover arrow
    &.top     { margin-top: -10px; }
    &.right   { margin-left: 10px; }
    &.bottom  { margin-top: 10px; }
    &.left    { margin-left: -10px; }

    &.top .arrow    { 
      @include popoverArrow(top, $popoverArrowOuterWidth, true); 
      &:after {
        bottom: 1px;
        margin-left: -$popoverArrowWidth;
        border-bottom-width: 0;
        border-top-color: $popoverArrowColor;
      }
    }
    &.right .arrow  { 
      @include popoverArrow(right, $popoverArrowOuterWidth, true); 
      &:after {
        left: 1px;
        bottom: -$popoverArrowWidth;
        border-left-width: 0;
        border-right-color: $popoverArrowColor;
      }
    }
    &.bottom .arrow { 
      @include popoverArrow(bottom, $popoverArrowOuterWidth, true); 
      &:after {
        top: 1px;
        margin-left: -$popoverArrowWidth;
        border-top-width: 0;
        border-bottom-color: $popoverArrowColor;
      }
    }
    &.left .arrow   { 
      @include popoverArrow(left, $popoverArrowOuterWidth, true);  
      &:after {
        right: 1px;
        border-right-width: 0;
        border-left-color: $popoverArrowColor;
        bottom: -$popoverArrowWidth;
      }
    }
    .arrow, .arrow:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    .arrow {
      border-width: $popoverArrowOuterWidth;
    }
    .arrow:after {
      border-width: $popoverArrowWidth;
      content: "";
    }
  }

  .popover-title {
    margin: 0; // reset heading margin
    padding: 8px 14px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: $popoverTitleBackground;
    border-bottom: 1px solid darken($popoverTitleBackground, 5%);
    @include border-radius(5px 5px 0 0);
  }

  .popover-content {
    padding: 9px 14px;
  }

}